<div class="bg-image" id="image-container" [style.backgroundImage]="'url(' + planetImageSrc + ')'">
  <header>
    <div class="header_container">
      <p>Click me to search:</p>
      <form (ngSubmit)="onSubmit()" class="search_box">
        <button type="submit" class="btn_search"><i class="fa fa-search"></i></button>
        <input type="search" class="input_search" placeholder="Enter a city..." [(ngModel)]="cityName" name="cityName" id="city-search">
      </form>
    </div>
  </header>

  <section class="top_container"  [ngClass]="{ 'black-text': planetName.toLowerCase() === 'bespin' || planetName.toLowerCase() === 'hoth' || planetName.toLowerCase() === 'naboo' }">
    <p id="temp">{{ getWeatherMessage() }} {{ weatherData?.main?.temp }}°C, {{ weatherData?.weather?.[0]?.description }}?</p>

  </section>
  
  

  <section class="center_container"  [ngClass]="{ 'black-text': planetName.toLowerCase() === 'hoth' }">
    <div class="center_item_1">
      <p class="its_like">It's like</p>
    </div>
    <div class="center_item_2">
      <p class="planet_name" id="planet">{{ planetName }}</p>
    </div>
    <div class="center_item_3">
      <p class="out_there">out there.</p>
    </div>
  </section>

  <section class="bottom_container"  [ngClass]="{ 'black-text':planetName.toLowerCase() === 'hoth' }">
    <div class="bottom_item_1">
      <p id="description">{{ planetDescription }}</p>
    </div>
    <div class="bottom_item_2">
      <p>{{ planetHiddenMessage }}</p>
    </div>
  </section>
</div>
