/* CSS Reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

/* ==============
   Global Styling
   ============== 
*/
body,
h1,
h2,
h3,
p {
    margin: 0;
}

p {
    width: fit-content;
}

a {
    color: pink;
}

a:visited {
    color: pink;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: #111;
    height: auto;
    width: 100vw;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    color: #fff;
    opacity: 90%;
}